.bottom_side{
    background: #fafafa;
    height:37px;
}
.bottom_side table button{
    background: none;
    border:none;
    height:25px;
    cursor: pointer;
}
.bottom_side table tr td:first-child button:after{
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: relative;
    right:-3.5px;
}
.bottom_side table tr td:first-child button.active:after{
    content: "\f106";
}
.bottom_side table tr td .button_monitoring{
    float: right;
}
.bottom_side table tr td:first-child{
    padding-left: 8px;
}
.hide_panel .bottom_side table tr td:first-child{
    padding-left: 0;
    overflow: hidden;
}
.hide_panel .bottom_side table #title_moni{
    font-family: 'HelveticaNeueBold', sans-serif;
    font-size:14px;
    margin-top:14px;
    padding:0 10px 0 0;
    width:77px;
    overflow: hidden;
    display: inline-block;
}
.hide_panel .bottom_side table .big_text:after{
    content:"...";
    right:232px;
    background: #fff;
    font-size: 14px;
    position: absolute;

}
.hide_panel .bottom_side table .check_bock label::before {
    bottom: -1px;
}
.hide_panel .bottom_side{
    background: none;
    height:53px;
    border-bottom:1px solid #dfdfdf;
}
.hide_panel .bottom_side .button_monitoring span{
    font-family: 'HelveticaNeueBold', sans-serif;
    font-size:14px;
    margin-top:14px;
    margin-right: 13px;
    display: inline-block;
}
.hide_panel .bottom_side .button_monitoring button{
    vertical-align: top;
}

.body_monitoring .show_panel{
    border-bottom:1px solid #dfdfdf;
    padding:12px 12px 15px 0;
    font-size:14px;
    color:#2f6a99;
    cursor: pointer;
    font-family: 'HelveticaNeueBold', sans-serif;
    background: url("../images/default/arrows_to.png") 322px center no-repeat;
}
.body_monitoring .show_panel.active{
    background: url("../images/default/arrows_bot.png") 322px center no-repeat;
}
.body_monitoring .hide_panel{
    display: none;
}
.body_monitoring .hide_panel.active{
    display: block;
}

.body_mon{
    height:600px;
    overflow-y: scroll;
}
